body {
	margin: 0;
	background-color: #111845;
	font-family: 'Roboto', sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	height: 200vh;
}

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.text {
	text-align: center;
}

.box {
	width: 250px;
	height: 250px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	border: 2px solid #2a3cad;
	background: #111845a6;
	padding: 10px;
	color: white;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.box.hover {
	-webkit-box-shadow: 0px 0px 100px 20px rgba(23, 32, 90, 1);
	-moz-box-shadow: 0px 0px 100px 20px rgba(23, 32, 90, 1);
	box-shadow: 0px 0px 100px 20px rgba(23, 32, 90, 1);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.box-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.no-event {
  pointer-events: none;
}

.box-fixed.hover {
	transform: scale(1.1) translate(5%, 5%);
}

.box-absolute.hover {
	transform: scale(1.1) translate(-5%, -5%);
}

.box-absolute {
	position: absolute;
	font-size: 0.8em;
	bottom: 0;
	right: 0;
}

.relative-container {
	position: absolute;
	top: 0;
	right: 0;
}

.box-relative-initial {
	background-color: cornflowerblue;
	position: absolute;
	top: 0;
	right: 0;
}

.box-relative {
	position: relative;
	font-size: 0.8em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.box-relative.hover {
	transform: scale(1.1) translate(0, -5%);
	transform: translate(-30vw, 0);

}

.box span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
}

.box span:nth-child(1) {
	transform: rotate(0deg);
}

.box span:nth-child(2) {
	transform: rotate(90deg);
}

.box span:nth-child(3) {
	transform: rotate(180deg);
}

.box span:nth-child(4) {
	transform: rotate(270deg);
}

.box.hover span:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	opacity: 0.5;
	background: #50dfdb;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: left;
	}
	50.1% {
		transform: scaleX(1);
		transform-origin: right;
	}

	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}