body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	height: 2000px;
}

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.box {
	font-size: 1.5em;
	width: 200px;
	height: 200px;
	margin: 20px;
	text-align: center;
}

.box-fixed {
	position: fixed;
	background-color: yellowgreen;
	top: 0;
	left: 0;
}

.box-absolute {
	position: absolute;
	background-color: aquamarine;
	bottom: 0;
	right: 0;
}

.relative-container {
	position: fixed;
	bottom: 0;
	left: 0;
}

.box-relative-initial {
	background-color: cornflowerblue;
	position: absolute;
	bottom: 0;
	left: 0;
}

.box-relative {
	position: relative;
	background-color: cornflowerblue;
	left: 500px;
	font-size: 1.2em;
}

.btn {
	margin: 20px;
	font-size: 1.2em;
	width: 400px;
	height: 40px;
	background-color: burlywood;
	border: 2px solid salmon;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}
